@{
    ViewData["Title"] = "Apagar contato";
}
<div class="text-center">
    <h3>Você tem certeza ?</h3>
</div>
<a class="btn btn-danger"role="button">Não </a>
<a class="btn btn-success"role="button">Sim </a>